---
import Layout from '../layouts/Base.astro';
---

<Layout
	title="about me"
	description="things about me, lol"
>
	<h1 class="title">About</h1>
	<p>
		i guess here's a more detailed about me, lol
		<div>
			i am joetroll, i am a male, brazilian/norwegian person that's also stupid sometimes. i usually check my discord most often, which is
			<a class="cody-link inline-block" href="https://discord.com/users/1054945019137630278">this.</a>
			i don't accept friend requests currently, but i have messages requests on, so if you (for some reason) wanna send me a message, there it is.
			my main languages are assembly, c++ and c#. everything else i've learned just for the shits and giggles. i have a few hobbies, i collect consoles and i make custom keyboards. i also love old technology which is mainly why i chose
			this theme over others. if you do end up finding me in a server i'm pretty active in, just know that if i use "!" or "?" or any punctuation at all too many times, it's probably a joke. trust me, i have to clarify this.
		</div>
</Layout>

