---
import BaseLayout from '../layouts/Base.astro';
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, sortMDByDate, sortMDByPinned } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);

const tech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Astro",
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
	},
	{
		title: "Astro Assets",
		desc: "Built-in optimized asset support.",
		href: "https://docs.astro.build/en/guides/assets/",
	},
	{
		title: "Tailwind CSS",
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
	},
	{
		title: "Markdown",
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
	},
	{
		title: "MDX",
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
	},
	{
		title: "Astro Icon",
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
	},
	{
		title: "Astro Blog Theme",
		desc: "The theme I used to make my blog.",
		href: "https://github.com/kirontoo/astro-theme-cody"
	},
];

---

<BaseLayout title="Home">
	<section>
		<h1 class="title">index</h1>
		<p class="mb-4 sm:mb-8">
		yo! i'm joetroll, a GAMER, and software engineer (i guess). i use languages like c++, c#, c, assembly, python and javascript. i like survival open world games, like terraria, subnautica, raft, etc. you can also see me play difficult platfomers like
		celeste, super meat boy, and other stuff. same with roguelikes, i play the binding of isaac, windowkill and lots more.
		</p>
		<div>
			<span>you can find me on: </span>
			<SocialMediaLinks/>
		</div>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{allPostsByPinned.map(p => <PostPreview post={p}/>)}
		</ul>
	</section>

	<section class="mt-16">
			<h2 class="title">technologies</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					tech.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cody-link inline-block"
							>
								{title}
							</a>: 
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section>
</BaseLayout>
